<html>

<head>
    <title>
        People
    </title>
    <script src='/dist/scripts/listeners.js'>
    </script>
</head>

<body>

    <div>
        <% list.forEach(p => {%>
        <div>
            <button id='clickName'>
                <h2><%=p.name%></h2>
            </button>
        </div>
        <div>
            <h3>Found <%=p.playlists.length%> Playlists.</h3>
            <% p.playlists.forEach(x=>{%>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=<%=x%>" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <% }); %>
        </div>
        </b>
        <% });%>
    </div>

</body>

</html>